[main]
conninfo = hostaddr={{ db_host }} dbname=postgres user={{ barman_db_user }} password={{ barman_db_user_password }}
streaming_conninfo = hostaddr={{ db_host }} dbname=postgres user={{ barman_db_streaming_user }} password={{ barman_db_streaming_user_password }}
backup_method = postgres
streaming_archiver = on
slot_name = barman
ssh_command = ssh postgres@{{ db_host }} -p {{ production_ssh_port | default(22) }}
