export NODE_ENV={{ node_env }};

export POSTGRESQL_HOST={% if postgresql_host is defined %}{{ postgresql_host }}{% else %}{{ hostvars[groups['postgresql-servers'][0]]['inner_ip'] }}{% endif %}

export POSTGRESQL_USER={{ app_db_user }}

export POSTGRESQL_PASSWORD={{ app_db_user_password }}

export POSTGRESQL_DATABASE={{ app_db_name }}

export POSTMARK_API_TOKEN={{ postmark_api_token }}

export JWT_SECRET={{ jwt_secret }}

export SHOP_ID={{ provided_shop_id }}

export SHOP_SECRET={{ provided_shop_secret }}
