[Unit]
Description={{ app_name }} backend service
After=network.target

[Service]
ExecStart=/usr/bin/node /home/{{ app_account_name }}/backend/index.js
WorkingDirectory=/home/{{ app_account_name }}/backend/
Restart=on-failure
User={{ app_account_name }}
Group={{ app_account_name }}
EnvironmentFile=/home/{{ app_account_name }}/process.env

[Install]
WantedBy=multi-user.target
