upstream api_servers {
  ip_hash;
  {% if api_host is defined %}
    server {{ api_host }}:{{ api_port }};
  {% else %}
    {% for host in groups['node-servers'] %}
      server {{ hostvars[host]['inner_ip'] }}:{{ api_port }};
    {% endfor %}
  {% endif %}
}

{% if cert.stat.exists == true %}
  server {
    listen 80;
    server_name {{ domain_name }};
    return 301 https://$server_name$request_uri;
  }
{% endif %}

limit_req_zone $binary_remote_addr zone=api:10m rate=10r/s;

server {
  {% if cert.stat.exists == true %}
    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ domain_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain_name }}/privkey.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_session_cache shared:SSL:40m;
    ssl_session_timeout 4h;
    keepalive_timeout 70;
    proxy_ssl_session_reuse on;
  {% else %}
    listen 80;
  {% endif %}
  server_tokens off;
  gzip on;
  gzip_static on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/vnd.ms-fontobject application/x-font-ttf font/opentype image/svg+xml image/x-icon;
  server_name {{ domain_name }};
  root /var/www/landing;
  rewrite ^/(.*)/$ /$1 permanent;
  location = / {
    try_files $uri /index.html =404;
  }
  location ~ ^/(user-agreement|privacy-policy) {
    try_files $uri $uri.html $uri/ =404;
  }
  location = /robots.txt {
    try_files /landing-static/robots.txt =404;
  }
  location ~ ^\/landing-static.+$ {
    # rewrite ^/landing-static(.*)$ $1 last;
    try_files $uri =404;
  }
  location / {
    root /var/www/frontend;
    try_files $uri /index.html;
  }
  location /api/ {
    limit_req zone=api burst=10 nodelay;
    limit_req_status 429;
    proxy_pass http://api_servers/;
    proxy_http_version 1.1;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    # WebSocket proxying:
    # http://nginx.org/en/docs/http/websocket.html
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }
}
